@mixin flexbox_row($justify, $align) {
    display: flex !important;
    flex-direction: row !important;
    justify-content: $justify !important;
    align-items: $align !important;
}

@mixin flexbox_column($justify, $align){
    display: flex !important;
    flex-direction: column !important;
    justify-content: $justify !important;
    align-items: $align !important;
}

@function px-to-rem($px, $base: 16) {
    @return calc($px / $base) * 1rem;
}

@mixin media_adjustments{
    @media screen and (max-width:1200px) and (min-width:768px){
        @content;
    }
}

@mixin phone_adjustments{
    @media screen and (max-width:768px){
        @content;
    }
}
