$primaryColorHeader: #172c3c;
$primaryColorTextHeader: #e2c56f;

$whiteColor: #f5f7ff;
$secondaryColor: #3eebf1;
$alertTextColor: #f13e5e;
$primaryTextColor: #020024;

$fontFamily:  "Passion One", sans-serif;
$transition_move: transform 1s ease, opacity 1s ease;

$normalText:2rem;
$mediaText:1.8rem;
$phoneText:1.6rem;

$heightHeader:12vh;

%normal__text{
    font-family: $fontFamily;
    font-weight: 400;
    font-style: $normalText;
    margin: 0;
    line-height: 1;
}

%bold__text{
    font-family: $fontFamily;
    font-weight: 700;
    font-style: $normalText;
    margin: 0;
    line-height: 1;
}

%a_text_format{
    font-family: $fontFamily;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    line-height: 1;
}