*{
    font-family: $fontFamily;
    font-size: px-to-rem(16);
    margin: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $whiteColor;
}

.header{
    display: block;
    padding: 2%;
    box-sizing: border-box;
    width: 100%;
    height: $heightHeader;
    height: auto;
    background-color: $primaryColorHeader !important;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    .header__structure{
        @include flexbox_row(space-between,center);
        .header__logo{
            @include flexbox_row(center,center);
            text-decoration: none;
            gap: 0.5rem;
            img{
                display: block;
                margin: 0;
                width: 60px;
                height: 60px;
                margin: 0.5rem;
            }
            h1{
                @extend %a_text_format;
                font-size: px-to-rem(48);
                color: $primaryColorTextHeader;

            }
        }
        
        .header__options{
            @include flexbox_row(flex-end,center);
            width: 50rem;
            gap:1rem;
            .header__search{
                width: 100%;
                input[type='search']{
                    background-color: $primaryColorHeader;
                    color:$primaryColorTextHeader;
                    font-size: px-to-rem(24);
                    &::placeholder{
                        color: $secondaryColor;
                    }
                }
                .btn{
                    width: 8rem;
                    border-color: $primaryColorTextHeader;
                    color: $primaryColorTextHeader;
                    font-size: px-to-rem(24);
                    &:hover{
                        border-color: $primaryColorTextHeader;
                        background-color: $primaryColorTextHeader;
                        color:$whiteColor;
                    }
                }
            }
        }
    }
}